/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
}
 .words {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .word {
    width: 17vw;
    display: block;
    border: 2px solid grey;
    text-align: center;
    padding: 50px 0;
    margin: 10px 0;
    font-size: 1.6em;
    font-weight: bolder;
 }
.cypher .type-0, .show-type-0 {
    background-color: #BFB6BB;
}
.cypher .type-1, .show-type-1 {
    background-color: #2364AA;
    color:white;
}
.cypher .type-2, .show-type-2 {
    background-color: #D62839;
    color:white;
}
.cypher .type-3, .show-type-3 {
    background-color: #36393B;
    color: white;
}
.title-screen {
    text-align: center;
}
.title-screen h1 {
    font-size: 10em;
}

table.qrcode {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    margin-top: 100px;
    margin-bottom: 12px;
  
    td {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      padding: 0;
      margin: 0;
      width: 3px;
      height: 3px;
  
      &.black {
        background-color: #000 !important
      }
  
      &.white {
        background-color: #fff !important
      }
    }
  }

  @media all and (max-width: 800px) and (orientation:landscape) 
  {
    .word {
        width: 17vw;
        display: block;
        border: 2px solid grey;
        text-align: center;
        padding: 10px 0;
        margin: 5px 0;
        font-size: 1em;
        font-weight: bolder;
     }
  }